body {
  font-family: "lustriaregular", times, serif;
  background-image: url(../images/bckgrd.png); }

a {
  color: #000;
  text-decoration: none;
  transition: all 0.1s linear; }

h2, h3, h4 {
  font-family: "lustriaregular", times, serif;
  color: #dc0a18; }

#contentWidth {
  max-width: 64em;
  margin: 0 auto;
  clear: both;
  padding-top: 30px; }

#mainHeader {
  margin-bottom: 10px; }

.title-bar {
  padding-right: 0; }

.title-bar-left p {
  font-family: "lustriaregular", times, serif;
  font-size: 0.875em;
  width: 150px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px; }

.menu-icon::after {
  background: #b50611;
  box-shadow: 0 7px 0 #b50611, 0 14px 0 #b50611; }

.menu-icon:hover::after {
  background: #dc0a18;
  box-shadow: 0 7px 0 #dc0a18, 0 14px 0 #dc0a18; }

.title-bar .menu-icon {
  margin-right: 0; }

#mainNav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  font-weight: bold; }

#mainNav li a {
  display: block;
  padding: 5px 0 5px 0;
  color: #b50611; }

#mainNav li {
  border-bottom: 1px solid #f06565; }

#mainNav li:first-child {
  border-top: 1px solid #f06565; }

#mainNav li:last-child {
  margin-bottom: 10px; }

#mainNav li a:hover {
  background-color: #f89d9d; }

.my_info {
  position: absolute;
  top: 10%;
  right: 1%;
  display: none; }

.name {
  display: block;
  margin: 0 auto;
  font-family: "lustriaregular", times, serif;
  width: 500px;
  color: white;
  font-size: 0.875em;
  text-align: center;
  letter-spacing: 1px; }

.my_name {
  font-size: 1em;
  font-weight: bold; }

.social-icons {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px; }

.social-icons ul {
  list-style-type: none;
  text-align: center; }

.social-icons ul li {
  display: inline;
  margin-right: 5%; }

.social-icons ul li a {
  font-size: 1.5em;
  color: #b50611; }

.social-icons ul li a:hover {
  font-size: 1.6em;
  color: white; }

@media screen and (min-width: 25em) {
  .title-bar-left p {
    font-family: "lustriaregular", times, serif;
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
    width: 180px; }

  .my_info {
    position: absolute;
    top: 13%;
    right: 5%; } }
@media screen and (min-width: 30em) {
  .my_info {
    position: absolute;
    top: 10%;
    right: 20%; }

  .title {
    font-size: 2.25em; }

  #info p {
    font-size: 1.25em; } }
@media screen and (min-width: 35em) {
  .my_info {
    position: absolute;
    top: 15%;
    right: 23%; } }
@media screen and (min-width: 40em) {
  .my_info {
    display: block;
    position: absolute;
    top: 30%;
    right: 30%; }

  .mainNav {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 550px;
    margin: 0 auto; }

  .title-bar {
    height: 35px; }

  #mainHeader {
    position: relative; }

  #mainNav {
    text-align: center; }

  #mainNav li {
    border-bottom: none;
    display: inline;
    margin-left: 10px; }

  #mainNav li a {
    display: inline;
    padding: 5px 0 5px 0;
    font-size: 0.875em; }

  #mainNav li a:hover {
    color: #fff;
    background-color: transparent;
    padding-bottom: 5px;
    border-bottom: 3px solid #b50611; }

  #mainNav li:first-child {
    border-top: none; } }
@media screen and (min-width: 46em) {
  .my_info {
    position: absolute;
    top: 35%;
    right: 40%; }

  .name {
    width: 500px;
    letter-spacing: 3px;
    font-size: 1em; }

  .my_name {
    font-size: 1.5em; }

  .mainNav {
    width: 550px; }

  #mainNav {
    text-align: right; }

  #mainNav li {
    margin-left: 20px; }

  #mainNav li a {
    font-size: 1em; }

  .social-icons ul li a {
    font-size: 2em; } }
@media screen and (min-width: 58.25em) {
  .mainNav {
    width: 650px; }

  #mainNav li {
    margin-left: 30px; }

  .my_info {
    position: absolute;
    top: 35%;
    right: 45%; }

  .name {
    width: 800px;
    letter-spacing: 8px;
    font-size: 1.5em; }

  .my_name {
    font-size: 2.5em; } }
.left {
  display: block;
  height: 350px;
  width: 90%;
  background-color: black;
  margin: 10px auto; }

.left > ul {
  list-style-type: none; }

.left > ul > li {
  line-height: 30px;
  color: white; }

.left > ul > li > b {
  margin-right: 10%; }

.portrait1 {
  border: 1px solid red;
  border-radius: 20px;
  margin: 10px auto;
  display: block; }

.right {
  display: block;
  width: 90%;
  height: 300px;
  border: 1px solid #0AD0C1;
  border-radius: 10px;
  background-color: black;
  margin: 0 auto; }

.right iframe {
  width: 100%;
  height: 255px; }

.right > h2 {
  color: aliceblue;
  text-align: center;
  font-size: 30px; }

.title {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 30px;
  color: #dc0a18;
  display: block;
  cursor: pointer; }

#info {
  clear: both;
  display: block;
  width: 90%;
  margin: 20px auto; }

#info .na {
  color: #b50611;
  text-indent: 2em;
  border-top: 2px solid #b50611;
  padding-top: 50px;
  border-bottom: 2px solid #b50611;
  padding-bottom: 50px; }

#info p {
  font-size: 1em; }

.top-links {
  font-size: 0.875em; }

.skill-grids img {
  width: 45%;
  margin-left: 3%;
  margin-bottom: 15px; }

.close {
  float: right;
  font-size: 2em;
  cursor: pointer;
  color: red; }

.skill-grids .s1, .skill-grids .s2, .skill-grids .s3, .skill-grids .s4 {
  margin-left: 15%; }

#mobile, #mobile1, #mobile2 {
  display: block;
  margin-left: 23%;
  margin-bottom: 5px; }

#laptop, #laptop1, #laptop2 {
  display: none; }

.la {
  margin-left: 23%;
  margin-bottom: 5px; }

.stright {
  margin-left: 23%; }

#project {
  clear: both;
  max-width: 75em;
  display: block;
  margin: 0 auto; }

.p1 img, .p2 img, .p4 img {
  filter: brightness(40%); }

.p1 img:hover, .p2 img:hover, .p4 img:hover {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  filter: brightness(100%); }

.Sbutton {
  margin: 20px auto;
  width: 60%; }

.button {
  margin-left: 20%;
  font-size: 1em; }

.experience h3, .education h3 {
  text-align: center;
  margin-bottom: 20px;
  clear: both; }

.experience {
  display: none; }

.st {
  display: block;
  clear: both; }

.stleft {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: #0AD0C1;
  color: white;
  text-align: center;
  cursor: pointer; }

.stright div {
  display: block;
  width: 200px;
  height: 50px;
  border: #000000 solid 1px;
  background-color: white;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer; }

.stright p {
  width: 90%;
  margin-bottom: 30px; }

.stright p b {
  margin-right: 10px; }

.st:first-child div {
  margin-left: 10%; }

.wraper {
  width: 90%;
  margin: 0 auto; }

#project p {
  font-size: 1em; }

h3 {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 5%;
  margin-left: 10px; }

#contact {
  clear: both;
  width: 90%;
  margin: 30px auto; }

.submit {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  width: 40%;
  padding: 5px 10px;
  background-color: lightblue;
  font-weight: bold;
  font-size: 1.2em; }

.submit:hover {
  cursor: pointer;
  background-color: #0AD0C1; }

.backBut {
  position: fixed;
  left: 90%;
  top: 90%; }

.backBut:hover {
  background-color: #ec6f6f;
  border-radius: 15px;
  cursor: pointer; }

@media screen and (min-width: 25em) {
  .player__slider {
    color: #FB0004;
    float: right;
    margin-right: 20%;
    margin-top: -8px;
    width: 20%; }

  .left > ul {
    margin-left: 15%; } }
@media screen and (min-width: 30em) {
  #projects p {
    font-size: 1.25em; }

  #projects h3 {
    font-size: 1.5em; }

  h3 {
    font-size: 1.5em; } }
@media screen and (min-width: 35em) {
  .left > ul {
    margin-left: 20%; } }
@media screen and (min-width: 40em) {
  .left > ul {
    margin-left: 25%; } }
@media screen and (min-width: 46em) {
  .left > ul {
    margin-left: 20%; }

  .left {
    float: left;
    width: 48%;
    margin-left: 10px; }

  .right {
    float: left;
    width: 48%;
    margin-left: 2%; }

  .skill-grids .s1, .skill-grids .s3 {
    margin-left: 10%;
    margin-bottom: 3%; }

  .skill-grids .s2, .skill-grids .s4 {
    margin-left: 5%;
    margin-bottom: 3%; }

  .st {
    display: block;
    clear: both; }

  #mobile, #mobile1, #mobile2 {
    display: none; }

  #laptop, #laptop1, #laptop2 {
    display: block; }

  .stleft {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #0AD0C1;
    color: white;
    text-align: center; }

  .st1 {
    clear: both; }

  .la {
    float: left;
    margin-left: 20%; }

  .ra {
    float: right;
    margin-right: 5%; }

  .lb {
    float: left; }

  .lbd {
    margin-left: 55%; }

  .rb {
    float: right;
    margin-right: 18%; }

  .inter {
    margin-left: 30%; }

  .stright {
    margin-left: 0; }

  .stright div {
    display: block;
    width: 200px;
    height: 50px;
    border: #000000 solid 1px;
    background-color: white;
    color: black;
    text-align: center;
    margin-bottom: 10px; }

  .stright p {
    width: 300px;
    margin-bottom: 30px; }

  .stright p b {
    margin-right: 10px; }

  .st:first-child div {
    margin-left: 10%; }

  .wraper {
    overflow: hidden; }

  .p1 {
    float: left;
    width: 24%;
    height: 512px;
    margin-right: 1%; }

  .p3 {
    overflow: hidden;
    height: 320px;
    margin-bottom: 1%; }

  .inner-box .video {
    overflow: hidden; }

  .inner-box .p2 {
    float: right;
    width: 22%;
    height: 512px;
    margin-left: 1%; }

  .p4 {
    overflow: hidden;
    height: 256px;
    margin-top: 1%; }

  .wraper {
    width: 96%;
    margin: 0 auto; } }
@media screen and (min-width: 60em) {
  .banner {
    z-index: -1;
    position: absolute; }

  .my_info {
    margin-top: 10%; }

  .left {
    height: 350px;
    width: 35%;
    margin-top: 23%;
    margin-left: 14%; }

  .right {
    width: 35%;
    height: 350px;
    margin-top: 23%;
    margin-left: 5%; }

  .right iframe {
    height: 300px; }

  .left > ul {
    margin-left: 20%; }

  #info {
    width: 100%; }

  .title {
    margin-left: 0;
    font-size: 2em; }

  .skill-grids object {
    width: 23%;
    margin-bottom: 30px;
    margin-left: 0%; }

  .skill-grids .s1 {
    margin-left: 0; }

  .skill-grids .s2, .skill-grids .s3, .skill-grids .s4 {
    margin-left: 2.2%; }

  .st {
    display: block;
    clear: both; }

  .stleft {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #0AD0C1;
    color: white;
    text-align: center; }

  .st1 {
    clear: both; }

  .la {
    float: left;
    margin-left: 25%; }

  .ra {
    float: right;
    margin-right: 0; }

  .lb {
    float: left; }

  .lbd {
    margin-left: 50%; }

  .rb {
    float: left; }

  .inter {
    margin-left: 0%; }

  .stright div {
    display: block;
    width: 200px;
    height: 50px;
    border: #000000 solid 1px;
    background-color: white;
    color: black;
    text-align: center;
    margin-bottom: 10px; }

  .stright p {
    width: 510px;
    margin-bottom: 30px; }

  .stright p b {
    margin-right: 10px; }

  .st:first-child div {
    margin-left: 10%; }

  .wraper {
    width: 100%; }

  #contact {
    width: 100%; }

  .backBut {
    display: none; } }
#footerCon {
  background-color: #2b2b2b;
  text-align: center; }

.cpy-right {
  color: #f5f5f5;
  font-size: 0.875em;
  letter-spacing: 1px;
  display: block;
  line-height: 1.8em; }

.cpy-right p {
  padding: 20px 0; }

div, p, body, header, footer, section, article, nav, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

img {
  border: none;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'lustriaregular';
  src: url("../fonts/lustria-regular-webfont.eot");
  src: url("../fonts/lustria-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lustria-regular-webfont.woff") format("woff"), url("../fonts/lustria-regular-webfont.ttf") format("truetype"), url("../fonts/lustria-regular-webfont.svg#lustriaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */
