$font:'lustriaregular', times, serif;
$banner-font-size: 2.5em;
$banner-font-size-phone: 1em;
$banner-font-size-tablet: 1.5em;
$body-font-size: 1.25em;
$font-color:black;
$title-font-size: 2em;
$title-font-size-phone: 1.5em;
$title-font-size-tablet: 2em;
$title-font-color: #dc0a18;