.left{
    display: block;
    height: 100%;
    width: 90%;
    background-color:black;
    margin: 10px auto;
}
.left > ul {
    list-style-type: none;
}
.left > ul > li {
    line-height: 30px;
    color: white;
}
.left > ul > li > b {
    margin-right: 10%;
}
.portrait1 {
    border: 1px solid red;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
}
.right {
    display: block;
    width: 90%;
    height: 300px;
    border: 1px solid #0AD0C1;
    border-radius: 10px;
    background-color: black;
    margin: 0 auto;
}
.right iframe {
    width: 100%;
    height: 255px;
}
.right > h2 {
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}
.title {
    font-weight: bold;
    font-size: $title-font-size-phone;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 30px;
    color: $title-font-color;
    display: block;
    cursor: pointer;
}
#info {
    clear: both;
    display: block;
    width: 90%;
    margin: 20px auto;
}
#info .na {
    color: #b50611;
    text-indent: 2em;
    border-top: 2px solid #b50611;
    padding-top: 50px;
    border-bottom: 2px solid #b50611;
    padding-bottom: 50px;
    font-size: $body-font-size;
}
.top-links {
    font-size: 0.875em;
}

.close {
    float: right;
    font-size: 2em;
    cursor: pointer;
    color: red;
}
.skill object {
    width: 100%;
}
.skill p {
    width: 100%;
    text-indent: 5%;
    font-size: 1em;
}
#experience {
    padding-top: 20px;
}

#mobile, #mobile1, #mobile2 {
    display: block;
    margin-left: 23%;
    margin-bottom: 5px;
}
#laptop, #laptop1, #laptop2 {
    display: none;
}
.la {
    margin-left: 23%;
    margin-bottom: 5px;
}
// .stleft {
//     margin-left: 23%;
//     margin-bottom: 5px;
// }
.stright {
    margin-left: 23%;
}
#project {
    clear: both;
    max-width: 75em;
    display: block;
    margin: 0 auto;
}

// .p1, .p2, .p3, .p4 {
//     width: 90%;
//     margin: 0 auto;
//     display: block;
// }
.p7, .p8,.p9,.p10{
    margin-bottom: 10px;
}
.p1 img, .p2 img, .p4 img, .ads img, .p7 img, .p8 img, .p9 img, .p10 img {
    filter: brightness(40%); 
}
.p1 img:hover, .p2 img:hover, .p4 img:hover, .ads img:hover, .p7 img:hover, .p8 img:hover, .p9 img:hover, .p10 img:hover {
    transition: all 2s;
	-webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    filter: brightness(100%);
}

.Sbutton {
    margin: 20px auto;
    width: 60%;
}
.button {
    margin-left: 20%;
    font-size: 1em;
}
.experience h3, .education h3 {
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}
.experience {
    display: none;
}
.st {
    display: block;
    clear: both;
}
.stleft {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #0AD0C1;
    color: white;
    text-align: center; 
    cursor: pointer;
    
}
.stright div {
    display: block;
    width: 200px;
    height: 50px;
    // line-height: 80px;
    border: #000000 solid 1px;
    background-color: white;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.stright p {
    width: 90%;
    margin-bottom: 30px;
}
.stright p b {
    margin-right: 10px;
}
.st:first-child div{
    margin-left: 10%;
}
.wraper {
    width: 90%;
    margin: 0 auto;
}
#project p {
    font-size: $body-font-size;
}
.p1, .p2, .p3, .p4, .ads {
    margin-bottom: 10px;
}
.video1 {
    width: 90%;
    display: block;
    margin: 0 auto;
}
.controls {
  display: block;
  margin: 0 auto;  
  background-color: #000000;
  width: 90%;
  text-align: center;
  height: 50px;
  margin-bottom: 20px;
  position: relative;
}
[data-icon]:not([data-icon=pause-circle]):not([data-icon=play-circle]) {
  font-size: $body-font-size;
}
[data-icon] {
  font-size: 1.5em;
  color: red;
  cursor: pointer;
}
.controls ul {
  list-style-type: none;
  position: absolute;
  top: 20px;
  margin-left: 5%;
}
.controls ul li {
  display: inline-block;
  padding: 0 0.625em;
}
.controls .progress {
    width: 100%;
    background-color: #FB0004;
}
.player__slider {
    color: #FB0004;
    float: right;
    margin-top: -8px;
    margin-right: 6%;
    width: 30%;
}
h3 {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 5%;
    margin-left: 10px;
}
#contactform {
    clear: both;
    width: 90%;
    margin: 30px auto;
}
.submit{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 40%;
    padding:5px 10px;
    background-color:#0AD0C1;
    font-weight: bold;
    font-size: 1.2em;
}
.submit:hover{
    cursor: pointer;
    background-color: lightblue;
}
.backBut {
    position: fixed;
    left: 90%;
    top: 90%;
}
.backBut:hover {
    background-color: #ec6f6f;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (min-width: 23em) {

}
@media screen and (min-width: 25em) {
.left > ul {
    margin-left: 15%;
}
}
@media screen and (min-width: 30em) {
    #projects p {
        font-size: 1.25em;
    }
    #projects h3 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 35em) {
    .left > ul {
        margin-left: 20%;
    }
}
@media screen and (min-width: 40em) {
    .left > ul {
        margin-left: 25%;
    }
}
@media screen and (min-width: 46em) {
    .left > ul {
        margin-left: 20%;
    }
    .left {
        float: left;
        width: 48%;
        margin-left: 10px;
    }
    .right {
        float: left;
        width: 48%;
        margin-left: 2%;
    }
    .skill object {
        width: 50%;
    }
    .skill p {
        width: 45%;
        margin-top: 10px;
    }
    .l {
        float: left;
    }
    .r {
        float: right;
    }
    .css3, .js, .php {
        clear: both;
    }
    #experience {
        clear: both;
    }
    .st {
        display: block;
        clear: both;
    }
    #mobile, #mobile1, #mobile2 {
        display: none;
    }
    #laptop, #laptop1, #laptop2 {
        display: block;
    }
    .stleft {
        display: block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        background-color: #0AD0C1;
        color: white;
        text-align: center; 
    }
    .st1 {
        clear: both;
    }
    .la {
        float: left;
        margin-left: 20%;
    }
    .ra {
        float: right;
        margin-right: 5%;
    }
    .lb {
        float: left;
    }
    .lbd {
        margin-left: 55%;
    }
    .rb {
        float: right;
        margin-right: 18%;
    }
    .inter {
        margin-left: 30%;
    }
    // .stleft {
    //     margin-left: 0;
    //     margin-bottom: 0;
    // }
    .stright {
        margin-left: 0;
    }
    .stright div {
        display: block;
        width: 200px;
        height: 50px;
        // line-height: 80px;
        border: #000000 solid 1px;
        background-color: white;
        color: black;
        text-align: center;
        margin-bottom: 10px;
    }
    .stright p {
        width: 300px;
        margin-bottom: 30px;
    }
    .stright p b {
        margin-right: 10px;
    }
    .st:first-child div{
        margin-left: 10%;
    }
    .wraper {
        overflow: hidden;
    }
    .p1 {
        float: left;
        width: 24%;
        height: 500px;
        margin-right: 1%;
    }
    .p3 {
        overflow: hidden;
        height: 250px;
    }
    .inner-box .ads {
        overflow: hidden;
        height: 245px;
    }
    .inner-box .p2 {
        float: right;
        width: 22%;
        height: 512px;
        margin-left: 1%;
    }
    .p4 {
        overflow: hidden;
        height: 256px;
        margin-top: 1%;
    }
    .wraper {
        width: 96%;
        margin: 0 auto;
    }
    .controls ul {
        margin-left: 10%;
    }
    .player__slider {
        width: 50%;
        margin-right: 10%;
    }
}
@media screen and (min-width: 60em) {
    // #mainHeader {
    //     z-index: -1;
    // }
    .banner {
        z-index: -1;
        position: absolute;
    }
    .my_info {
        margin-top: 10%;
    }
    .left{
        height: 350px;
        width: 35%;
        margin-top: 28%;
        margin-left: 14%;
    }
    .right{
        width: 35%;
        height: 350px;
        margin-top: 28%;
        margin-left: 5%;
    }
    .right iframe {
        height: 300px;
    }
    .left > ul {
        margin-left: 20%;
    }
    #info {
       width: 100%;
    }
    .skill p {
        margin-top: 10%;
    }
    .title {
        margin-left: 0;
        font-size: $title-font-size;
    } 
    .st {
        display: block;
        clear: both;
    }
    .stleft {
        display: block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        background-color: #0AD0C1;
        color: white;
        text-align: center; 
    }
    .st1 {
        clear: both;
    }
    .la {
        float: left;
        margin-left: 25%;
    }
    .ra {
        float: right;
        margin-right: 0;
    }
    .lb {
        float: left;
    }
    .lbd {
        margin-left: 50%;
    }
    .rb {
        float: left;
    }
    .inter {
        margin-left: 0%;
    }
    .stright div {
        display: block;
        width: 200px;
        height: 50px;
        // line-height: 80px;
        border: #000000 solid 1px;
        background-color: white;
        color: black;
        text-align: center;
        margin-bottom: 10px;

    }
    .stright p {
        width: 510px;
        margin-bottom: 30px;
    }
    .stright p b {
        margin-right: 10px;
    }
    .st:first-child div{
        margin-left: 10%;
    }
    .wraper {
        width: 100%;
    }
    .video {
        width: 100%;
        margin: 0 auto;
    }
    .controls {
        width: 100%;
    }
    #contactform {
        width: 100%;
    }
    // .p1 {
    //     height: 658px;
    // }
    .p3 {
         height: 324px;
         margin-bottom: 1%;
     }
    .inner-box .ads {
        height: 345px;
    }
    // .inner-box .p2 {
    //     height: 640px;
    // }
    // .p4 {
    //     height: 256px;
    // }
    .player__slider {
        width: 60%;

    }
    .backBut {
        display: none;
    }
}